---
layout: default
title: News
---
<ul class="news list-unstyled">
    {% assign list = site.news_posts | reverse %}
    {% for info in list %}
            {% if info.onlyarchive == false %}
                 <li class="shortnews">
                    <span class="date"> {{info.title}} </span>
                      {{info.content}}
                </li>
            {% endif %}
    {% endfor %}
</ul>


<!-- {% for post in site.posts %} -->
<!--     {% if post.onlyarchive == false %}
        {% if post.news %}
            {% if post.shortnews %}
                <li class="shortnews">
                    <span class="date">{{ post.date | date_to_long_string }}</span>
                    {{ post.content }}
                </li>
            {% else %}
                <li class="bloglink">
                    <span class="date">{{ post.date | date_to_long_string }}</span>
                    <a href="{{ post.url }}">&raquo; {{ post.title }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %} -->

<p><a href="{{ site.base }}/oldnews.html">See archived news posts.</a></p>
