<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication span-texty">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.sigops.org/sosp/sosp17/index.html">PebblesDB: Simultaneously Increasing Write Throughput and Decreasing Write Amplification in Key-Value Stores</a>.
			</span><br />
			<span class="authors">
				Vijay Chidambaram, Pandian Raju and Ittai Abraham..
			</span><br />
			<span class="venuetype"></span><span class="venue">The 26th ACM Symposium on Operating Systems Principles (SOSP 2017).</span>.
			<br />
			<span class="links">
<!--
				[<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" onclick="$('#abstract_PebblesDB-17').slideToggle('fast');return false;">abstract</a>] -->
			</span>
			<div id="abstract_PebblesDB-17" class="abstract">
				<span class="abstract-text">
					PebblesDB is an awesome Database, and it does some really cool stuff. This is its Abstract. Hope you enjoyed reading it.
				</span>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication span-texty">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.cs.utexas.edu/~vijay/papers/apsys17-sqlite.pdf">The Dangers and Complexities of Benchmarking SQLite</a>.
			</span><br />
			<span class="authors">
				Dhathri Purohith, Jayashree Mohan, and Vijay Chidambaram.
			</span><br />
			<span class="venuetype"></span><span class="venue">The 8th ACM SIGOPS Asia-Pacific Workshop on Systems (APSys 2017)</span>.
			<br />
			<span class="links">
<!-- -->
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication span-texty">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.cs.utexas.edu/~vijay/papers/apsys17-ioamp.pdf">Analyzing IO Amplification in Linux File Systems (Poster)</a>.
			</span><br />
			<span class="authors">
				Vijay Chidambaram Jayashree Mohan.
			</span><br />
			<span class="venuetype"></span><span class="venue">The 8th ACM SIGOPS Asia-Pacific Workshop on Systems (APSys 2017)</span>.
			<br />
			<span class="links">
<!-- -->
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication span-texty">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.cs.utexas.edu/~vijay/papers/hotstorage17-cclog.pdf">CC-Log: Drastically Reducing Storage Requirements for Robots Using Classification and Compression</a>.
			</span><br />
			<span class="authors">
				Santiago Gonzalez, Vijay Chidambaram, Jivko Sinapov, and Peter Stone.
			</span><br />
			<span class="venuetype"></span><span class="venue">9th USENIX Workshop on Hot Topics in Storage and File Systems (HotStorage 17)</span>.
			<br />
			<span class="links">
<!-- -->
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication span-texty">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.cs.utexas.edu/~vijay/papers/hotstorage17-energy.pdf">Storage on Your Smartphone Uses More Energy Than You Think</a>.
			</span><br />
			<span class="authors">
				Jayashree Mohan, Dhathri Purohith, Matt Halpern, Vijay Chidambaram, and Vijay Janappa Reddi.
			</span><br />
			<span class="venuetype"></span><span class="venue">9th USENIX Workshop on Hot Topics in Storage and File Systems (HotStorage 17)</span>.
			<br />
			<span class="links">
<!-- -->
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication span-texty">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.cs.utexas.edu/~vijay/papers/hotstorage17-crashmonkey.pdf">CrashMonkey: A Framework to Automatically Test File-System Crash Consistency</a>.
			</span><br />
			<span class="authors">
				Ashlie Martinez and Vijay Chidambaram.
			</span><br />
			<span class="venuetype"></span><span class="venue">9th USENIX Workshop on Hot Topics in Storage and File Systems (HotStorage 17)</span>.
			<br />
			<span class="links">
<!-- -->
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication span-texty">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.cs.utexas.edu/~vijay/papers/hotos17-t2fs.pdf">From Crash Consistency to Transactions</a>.
			</span><br />
			<span class="authors">
				Yige Hu, Younjin Kwon, Vijay Chidambaram, and Emmett Witchel.
			</span><br />
			<span class="venuetype"></span><span class="venue">16th Workshop on Hot Topics in Operating Systems (HotOS 17)</span>.
			<br />
			<span class="links">
<!-- -->
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication span-texty">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.usenix.org/conference/fast17/technical-sessions/presentation/pillai">Application Crash Consistency and Performance with CCFS</a>.
			</span><br />
			<span class="authors">
				Thanumalayan Sankaranarayana Pillai, Ramnatthan Alagappan, Lanyue Lu, Vijay Chidambaram, Andrea C. Arpaci-Dusseau, and Remzi H. Arpaci-Dusseau.
			</span><br />
			<span class="venuetype"></span><span class="venue">15th USENIX Conference on File and Storage Technologies (FAST 17)</span>.
			<br />
			<span class="links">
<!--
				[<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" onclick="$('#abstract_PillaiEtAl17-CCFS').slideToggle('fast');return false;">abstract</a>] -->
			</span>
			<div id="abstract_PillaiEtAl17-CCFS" class="abstract">
				<span class="abstract-text">
					Some other Abstract for testing purposes.
				</span>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication span-texty">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.cs.utexas.edu/~vijay/papers/inflow16-nvmove.pdf">NVMOVE: Helping Programmers Move to Byte-Based Persistence</a>.
			</span><br />
			<span class="authors">
				Himanshu Chauhan, Irina Calciu, Vijay Chidambaram, Eric Schkufza, Onur Mutlu, and Pratap Subrahmanyam.
			</span><br />
			<span class="venuetype"></span><span class="venue">4th Workshop on Interactions of NVM/Flash with Operating Systems and Workloads (INFLOW 16)</span>.
			<br />
			<span class="links">
<!-- -->
			</span>
		</td>
	</tr>
</tbody>
</table>
