<table class="table">
<tbody>
	{%- set prev_year = 1900 %}
	{%- for entry in entries %}
	<tr>
		<td>
			<span class="date">
				{% if entry.fields['year'] != prev_year %}
				<big><strong>{{ entry.fields['year'] }}</strong></big><br />
				{% endif %}
				{%- set prev_year = entry.fields['year'] %}
				{{ entry.fields['month']|monthname }}
			</span>
		</td>
		<td class="publication span-texty">
			<span class="pubtitle">
				{%- set url = entry|main_url %}
				{%- if url %}
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="{{ url|escape }}">{{ entry|title }}</a>.
				{%- else %}
				{{ entry|title }}.
				{%- endif %}
			</span><br />
			<span class="authors">
				{% for person in entry.persons['author']|author_list %}
					{{person}}
				{% endfor %}
			</span><br />
			<span class="venuetype">{{ entry|venue_type -}}</span><span class="venue">{{ entry|venue -}}</span>.
			{%- if entry.fields['note'] %}
			<span class="note">
			{{ entry.fields['note']|escape }}.
			</span>
			{%- endif %}
			<br />
			<span class="links">
			{%- for type, url in (entry|extra_urls).iteritems() %}
				[<a href="{{ url|escape }}">{{ type|escape }}</a>]
			{%- endfor %}
<!-- 				{%- if entry.fields['abstract'] %}
				[<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" onclick="$('#abstract_{{entry.fields['key']}}').slideToggle('fast');return false;">abstract</a>]
				{%- endif %} -->
			</span>
			{%- if entry.fields['talk'] %}
			<div id="talk_{{entry.fields['key']}}" class="talk">
					[<a href={{entry.fields['talk'] | escape }}> 
						Talk
					</a>]
			</div>
			{%- endif %}
			
			{%- if entry.fields['code'] %}
			<div id="code_{{entry.fields['key']}}" class="code">
					[<a href={{entry.fields['code'] | escape }}> 
						Code
					</a>]
			</div>
			{%- endif %}

			{%- if entry.fields['slides'] %}
			<div id="slides_{{entry.fields['key']}}" class="slides">
					[<a href={{entry.fields['slides'] | escape }}> 
						Slides
					</a>]
			</div>
			{%- endif %}

			{%- if entry.fields['bib'] %}
			<div id="bib_{{entry.fields['key']}}" class="bib">
					[<a href={{entry.fields['bib'] | escape }}> 
						Bib
					</a>]
			</div>
			{%- endif %}

			{%- if entry.fields['poster'] %}
			<div id="bib_{{entry.fields['key']}}" class="bib">
					[<a href={{entry.fields['poster'] | escape }}> 
						Poster
					</a>]
			</div>
			{%- endif %}

			{%- if entry.fields['preprintkey'] %}
			<div id="bib_{{entry.fields['key']}}" class="bib">
					[<a href={{entry.fields['preprintval'] | escape }}> 
						{{entry.fields['preprintkey'] | escape }}
					</a>]
			</div>
			{%- endif %}

			<br>

			{%- if entry.fields['awards'] %}
			<div id="bib_{{entry.fields['key']}}" class="bib text-danger">
				<b>{{entry.fields['awards'] | escape }}</b>
			</div>
			{%- endif %}

			<br>

			{%- if entry.fields['presskey'] %}
			<div id="bib_{{entry.fields['key']}}" class="bib">
					<b>Press:</b>[<a href={{entry.fields['pressval'] | escape }}> 
						{{entry.fields['presskey'] | escape }}
					</a>]
			</div>
			{%- endif %}


			{%- if entry.fields['abstract'] %}
			<div id="abstract_{{entry.fields['key']}}" class="abstract">
				<span class="abstract-text">
					{{ entry.fields['abstract'] |escape }}
				</span>
			</div>
			{%- endif %}
		</td>
	</tr>
	{%- endfor %}
</tbody>
</table>
